{
    "files": [
        {
            "excludePattern": ".*/do-not-deploy/.*",
            "includePattern": "obj/(.*\\.hex)",
            "uploadPattern": "hex/$1"
        }
    ],
    "package": {
        "desc": "do emus dream of flying?",
        "issue_tracker_url": "https://github.com/emuflight/EmuFlight-Butter-Varient/issues",
        "labels": [
            "emuflight",
            "flight",
            "controller"
        ],
        "licenses": [
            "MIT"
        ],
        "name": "default_branch",
        "public_download_numbers": false,
        "public_stats": false,
        "repo": "{{ env("GIT_BRANCH") }}",
        "subject": "emuflight",
        "vcs_url": "https://github.com/emuflight/EmuFlight-Butter-Varient.git",
        "website_url": "https://github.com/emuflight/EmuFlight-Butter-Varient"
    },
    "publish": true,
    "version": {
        "gpgSign": false,
        "name": "{{ env("VERSION") }}",
        "desc": "automated development build for testing purposes only"
    }
}