{
    "files": [
        {
            "excludePattern": ".*/do-not-deploy/.*",
            "includePattern": "obj/(.*\\.hex)",
            "uploadPattern": "hex/$1"
        }
    ],
    "package": {
        "desc": "do emus dream of flying?",
        "issue_tracker_url": "https://github.com/emuflight/EmuFlight-Butter-Varient/issues",
        "labels": [
            "emuflight",
            "flight",
            "controller"
        ],
        "licenses": [
            "MIT"
        ],
        "name": "{{ env("TRAVIS_BRANCH") }}",
        "public_download_numbers": false,
        "public_stats": false,
        "repo": "dev_hex",
        "subject": "emuflight",
        "vcs_url": "{{ env("TRAVIS_BUILD_WEB_URL") }}",
        "website_url": "https://github.com/emuflight/EmuFlight-Butter-Varient"
    },
    "publish": true,
    "version": {
        "gpgSign": false,
        "name": "{{ env("BINTRAY_VERSION") }}",
        "desc": "{{ env("TRAVIS_COMMIT_MESSAGE") }}"
    }
}