name: Build EgoFlight
on: [push, pull_request]
jobs:
  build:
    strategy:
      max-parallel: 1
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: fiam/arm-none-eabi-gcc@v1
      with:
        release: '9-2019-q4' # The arm-none-eabi-gcc release to use.
    - uses: actions/setup-python@v1
    - name: Make
      run: make all
    - name: Upload
      uses: actions/upload-artifact@v2-preview
      with:
        name: EgoFlight-${{ github.ref }}-${{ github.run_number }}
        path: obj/*.hex
